/* General */
.text-light {
  font-weight: 300;
}
.text-bold {
  font-weight: 700;
}

/* Station Board */
.station-board {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header h1 {
  margin: 0;
}

.arrivals-panel-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Arrival Panel */
.arrival-panel-outer {
  padding: 24px;
  background-color: #424242;
  border-radius: 8px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.arrival-panel-train-logo {
  height: 90px;
}

.arrival-panel-destination {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.arrival-panel-destination h2 {
  margin: 0;
}

.arrival-panel-destination p {
  margin: 0;
  margin-top: -0.5em;
  font-size: 1.8em;
}

.arrival-panel-arrival-time {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.arrival-panel-arrival-time h1 {
  margin: 0;
}

.arrival-panel-arrival-time p {
  margin: 0;
  margin-top: -1em;
  font-size: 1.25em;
}

/* Clock */
.clock {
  font-size: 2.2em;
}